$white: theme('colors.white');
$black: theme('colors.black');
$legend: theme('colors.legend');
$text: theme('colors.text');
$sea-serpent: theme('colors.seaserpent.DEFAULT');
$sea-serpent-light: theme('colors.seaserpent.light');
$woodpecker: theme('colors.woodpecker.DEFAULT');
$woodpecker-light: theme('colors.woodpecker.light');
$canary: theme('colors.canary.DEFAULT');
$canary-light: theme('colors.canary.light');
