$white: #FFF;
$black: #000;
$text: #363636;
$carbon-light: #F2F2F2;
$sea-serpent: #4bcbc9;
$sea-serpent-light: #C4EEED;
$woodpecker: #ce0d00;
$woodpecker-light: #ffe7e5;
$canary: #f7c643;
$canary-light: #fef8e7;
